In [1]:
import pandas as pd
data=pd.read_csv('vehicles_us.csv')
data.head()

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

In [3]:
data.describe(include='all')

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
count,51525.000000,47906.000000,51525,51525,46265.000000,51525,43633.000000,51525,51525,42258,25572.0,51525,51525.00000
unique,NaN,NaN,100,6,NaN,5,NaN,3,13,12,NaN,354,NaN
top,NaN,NaN,ford f-150,excellent,NaN,gas,NaN,automatic,SUV,white,NaN,2019-03-17,NaN
freq,NaN,NaN,2796,24773,NaN,47288,NaN,46902,12405,10029,NaN,186,NaN
mean,12132.464920,2009.750470,NaN,NaN,6.125235,NaN,115553.461738,NaN,NaN,NaN,1.0,NaN,39.55476
std,10040.803015,6.282065,NaN,NaN,1.660360,NaN,65094.611341,NaN,NaN,NaN,0.0,NaN,28.20427
min,1.000000,1908.000000,NaN,NaN,3.000000,NaN,0.000000,NaN,NaN,NaN,1.0,NaN,0.00000
25%,5000.000000,2006.000000,NaN,NaN,4.000000,NaN,70000.000000,NaN,NaN,NaN,1.0,NaN,19.00000
50%,9000.000000,2011.000000,NaN,NaN,6.000000,NaN,113000.000000,NaN,NaN,NaN,1.0,NaN,33.00000
75%,16839.000000,2014.000000,NaN,NaN,8.000000,NaN,155000.000000,NaN,NaN,NaN,1.0,NaN,53.00000
max,375000.000000,2019.000000,NaN,NaN,12.000000,NaN,990000.000000,NaN,NaN,NaN,1.0,NaN,271.00000

In [4]:
data['price'].describe()

count     51525.000000
mean      12132.464920
std       10040.803015
min           1.000000
25%        5000.000000
50%        9000.000000
75%       16839.000000
max      375000.000000
Name: price, dtype: float64

In [7]:
print(data.duplicated().sum())

0

In [8]:
data.isna().sum()

price               0
model_year       3619
model               0
condition           0
cylinders        5260
fuel                0
odometer         7892
transmission        0
type                0
paint_color      9267
is_4wd          25953
date_posted         0
days_listed         0
dtype: int64

In [ ]:
data['is_4wd'].unique()

[ 1. nan]

In [85]:
 data['is_4wd'] = data['is_4wd'].replace(1, 'Yes')

In [83]:
data['is_4wd'] = data['is_4wd'].fillna(value='No')

In [86]:
data['is_4wd'].unique()

array(['Yes', 'No'], dtype=object)

In [113]:
data['cylinders'].unique()

array([ 6.,  4.,  8., 50.,  5., 10.,  3., 12.])

In [115]:
data['cylinders'] = data['cylinders'].replace(50, 0)

In [118]:

data["cylinders"].unique()

array([ 6.,  4.,  8.,  0.,  5., 10.,  3., 12.])

In [117]:
# Assuming your dataframe is named 'data'
models_cyl = data["model"].unique()

# First, calculate the global most common cylinder value to use as a fallback
global_most_common_cyl = data["cylinders"].mode()[0]

# Keep track of models with no cylinder data
models_with_no_data = []

# Loop through each unique model
for model in models_cyl:
    # Get the subset of data for this model
    model_data = data[data["model"] == model]

    # Check if there are any non-NaN cylinder values for this model
    non_nan_cylinders = model_data["cylinders"].dropna()

    if len(non_nan_cylinders) > 0:
        # Get the most common cylinder value for this model
        most_common_cyl = non_nan_cylinders.mode()[0]

        # Update the original dataframe with the most common cylinder value
        data.loc[data["model"] == model, "cylinders"] = data.loc[
            data["model"] == model, "cylinders"
        ].fillna(most_common_cyl)

In [119]:
sorted(data["cylinders"].unique())

[0.0, 3.0, 4.0, 5.0, 6.0, 8.0, 10.0, 12.0]

In [ ]:
data['odometer'] = data['odometer'].fillna(value="Unknown")

In [121]:
data['paint_color'] = data['paint_color'].fillna(value='Unknown')

In [122]:
data["model_year"] = data["model_year"].fillna(value="Unknown")

In [123]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    51525 non-null  object
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     51525 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      51525 non-null  object
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   51525 non-null  object
 10  is_4wd        51525 non-null  object
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(1), int64(2), object(10)
memory usage: 5.1+ MB